<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="sales_order_place_after">
		<observer instance="Interprise\Logger\Observer\Sales\OrderPlaceAfter" name="interprise_logger_observer_sales_orderplaceafter_sales_order_place_after"/>
	</event>
	<event name="customer_register_success">
		<observer instance="Interprise\Logger\Observer\Customer\RegisterSuccess" name="interprise_logger_observer_customer_registersuccess_customer_register_success"/>
	</event>
</config>
