<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="interprise" sortOrder="999" translate="label">
			<label>Interprise</label>
		</tab>
		<section id="setup" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
			<label>Setup</label>
			<tab>interprise</tab>
			<resource>Interprise_Logger::config_interprise_logger</resource>
			<group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>General</label>
				<field id="enable" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Enable</label>
					<comment>To activate the syncing from Interprise</comment>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="api_key" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="text">
					<label>API Key</label>
					<comment>API key provided by Interprise</comment>
				</field>
				<field id="api_url" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label" type="text">
					<label>API Url</label>
					<comment>API Url provided by the Interprise</comment>
				</field>
				<field id="currency" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="40" translate="label" type="text">
					<label>Currency</label>
					<comment>Currency which will use in Interprise i.e. GBP,EURO,USD etc</comment>
				</field>
				<field id="update_name" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="50" translate="label" type="text">
					<label>Update Name</label>
					<comment>If need the product name update in Magento when product comes in Changelog of Interprise</comment>
				</field>
				<field id="update_category" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="60" translate="label" type="select">
					<label>Update Category</label>
					<comment>if we need the change category structure every time when comes into changelog of Interprise</comment>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="update_image" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="70" translate="label" type="select">
					<label>Update Image</label>
					<comment>if need each time image update from Interprise</comment>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
			</group>
		</section>
		<section id="payment" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="1000" translate="label">
			<group id="interprisepaid" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>InterprisePaid</label>
				<field id="active" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="title" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="text">
					<label>Title</label>
				</field>
				<field id="order_status" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label" type="select">
					<label>New Order Status</label>
					<source_model>Magento\Sales\Model\Config\Source\Order\Status\NewStatus</source_model>
				</field>
				<field id="allowspecific" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="40" translate="label" type="allowspecific">
					<label>Payment from Applicable Countries</label>
					<source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
				</field>
				<field id="specificcountry" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="50" translate="label" type="multiselect">
					<label>Payment from Applicable Countries</label>
					<source_model>Magento\Directory\Model\Config\Source\Country</source_model>
					<can_be_empty>1</can_be_empty>
				</field>
				<field id="sort_order" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="60" translate="label" type="text">
					<label>Sort Order</label>
				</field>
				<field id="instructions" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="70" translate="label" type="textarea">
					<label>Instructions</label>
				</field>
			</group>
		</section>
	</system>
</config>
